﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Site.master.cs" Inherits="Site" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Digital Upscale Manager for Ballgames</title>
    <link href="Styles/BallgameStyle.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <header>
	    <div id="logo">
	        <h1>Digital Upscale Manager for Ballgames</h1>
	        <h2>&quot;Managing Ballgames With Technology&quot;</h2>
        </div>
	</header>
    <form id="form1" runat="server">
        <section>
            
            <nav id="mnuNavigation">
                <asp:Menu ID="navigationMenu" runat="server" Orientation="Horizontal" BackColor="#B5C7DE" DataSourceID="SiteMapDataSourceBallgames" DynamicHorizontalOffset="2" Font-Names="Verdana" Font-Size="120%" ForeColor="Black" StaticSubMenuIndent="10px">
                    <DynamicHoverStyle BackColor="#284E98" ForeColor="White" />
                    <DynamicMenuItemStyle HorizontalPadding="10px" VerticalPadding="4px" />
                    <DynamicMenuStyle BackColor="#B5C7DE" />
                    <DynamicSelectedStyle BackColor="#507CD1" />
                    <StaticHoverStyle BackColor="#284E98" ForeColor="White" />
                    <StaticMenuItemStyle HorizontalPadding="10px" VerticalPadding="4px" />
                    <StaticSelectedStyle BackColor="#507CD1" />
                </asp:Menu>
                <asp:SiteMapDataSource ID="SiteMapDataSourceBallgames" runat="server" />
            </nav>
        </section>
    <div>
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
        <footer>Please contact us at 88-BallGame or email
            <asp:HyperLink ID="hplEmail" runat="server" NavigateUrl="mailto:info@ballgame.com" CssClass="mailto">info@ballgame.com</asp:HyperLink>
        </footer>
    </form>
    </body>
</html>
